h1.credentials {
    color: var(--baksteen);
}

.tab_container {
    width: 100%;
    margin-bottom: var(--horizontalMargin);
  }
  
.tab_title_row {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.tab_title {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-top-left-radius: var(--boxRadius);
    border-top-right-radius: var(--boxRadius);  
    flex-grow: 1;  
}

.tab_title_selected {
    background-color: var(--grey);
}

.tab_content {
    height: 85%;
    width: 90%;
    border-bottom-left-radius: var(--boxRadius);
    border-bottom-right-radius: var(--boxRadius); 
    background-color: var(--grey);
    padding: 5%;
}

