.portfolio_card {
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    width: 45%;
    position: relative;
    overflow: hidden;
    margin-bottom: var(--horizontalMargin);
    border-radius: var(--boxRadius);
  }

.portfolio_link_container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 3%;
}

.portfolio_link {
    width: 12%;
}

p.no_link {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: flex-end;
    font-size: 10px;
}

img.portfolio {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(0%);
    transition: transform .5s;
}

img.portfolio_selected {
    transform: translate(100%);
}

p.portfolio {
    font-size: 12px;
}

.portfolio_caption_container {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 90%;
    transform: translate(-100%);
    transition: transform .5s;
    padding: 5%;
    height: 90%;
}

svg.link_icon {
    width: 100%;
    stroke:black;
    stroke-width: 10;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    cursor: pointer;
}

g   {
    transition: all .3s;
}

.portfolio_caption_container_selected {
    transform: translate(0%);
}

.portfolio_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h1.portfolio {
    color: var(--jasje);
    margin-bottom: var(--horizontalMargin);
}

@media screen and (orientation: portrait), (max-width: 666px) {
    .portfolio_card {
        width: 90%;
        height: 60vw;
    }
    .portfolio_content {
        justify-content: center;
    }
}
