:root {
  --baksteen: #C3523E;
  --jasje: #364E7E;
  --grey: rgb(240,240,240);
  --horizontalMargin: 40px; 
  --boxRadius: 5px;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 34px;
  color: white;
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

img.header {
  width: 100%;
}

img.header.mobile {
  display: none;
}


.header_align_right {
  text-align: right;
}

.header_align_left {
  text-align: left;
}

h4 {
  text-align: center;
}

.content_div {
  width: 80%;
}

.subtitle_content {
  margin-top: calc(60px + 5vw);
  margin-bottom: calc(60px + 5vw);
}

h4.subtitle {
  margin-top: 0px;
}

.about_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.about_img_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_complete {
  background-color: var(--baksteen);
}

.about_img {
  max-height: 300px;
  margin-left: 30px;
}

.about_content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  text-align: left;
  color: white;
  font-size: 12px;
  margin-bottom: 30px;
}

.footer_complete {
  background-image: url('./assets/pattern-blue.png');
  background-size: 50vw;
}

.complete_row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (orientation: portrait), (max-width: 700px) {
  h1, .header_align_left, .header_align_right {
    text-align: center;
  }

  img.header.big {
    display: none;
  }

  img.header.mobile {
    display: block;
  }

  .scroll_icon {
    display: none;
  }

  .scroll_slider_title {
    text-align: left;
  }

  .about_container {
    flex-direction: column;
  }

  .about_content {
    width: 100%;
    text-align: center;
  }

  .about_img {
    width: 60%;
    height: auto;
    max-height: none;
    margin: 30px;
    border-radius: var(--boxRadius);
  }

}


